{% extends 'base.html' %}

{% block title %} Profile {% endblock title %}



{% block content %}

{% for m in messages %}
<p class="bg-{{m.tags}} text-center p-4 mx-5 my-2 fs-4 rounded">{{m}}</p>

{% endfor %}


<h1>This is Profile of <span class="text-primary">{{user.first_name}} {{user.last_name}}</span></h1>

<div class="container">
    
        <a href="{% url 'password_change' %}" class="btn btn-outline-warning my-2">
            <h2>Change Your Password with Old Password</h2>
        </a>
    
        <a href="{% url 'password_change2' %}" class="btn btn-outline-info my-2">
            <h2>Change Your Password without Old Password</h2>
        </a>
   

</div>

{% endblock content %}